 /* DUNGEON CRAWLER STYLEZZZ */

 body {
     background-color: #000;
     background-image: url('../img/background.png');
     background-size: cover;
     font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
 }

h1 {
    color: #daa520;
}

h3 {
    color: #FFF;
}

 #img-preload {
     display: none;
 }

 #container {
     background-color: #640D09;
     padding: 1em;
     width: 52em;
     height: 80vh;
     margin: 1em auto;
     display: grid;
     grid-gap: 1em;
     grid-template-rows: .15fr .7fr .15fr;
     grid-template-columns: .25fr .5fr .25fr;
     grid-template-areas: "top-left top-left top-right"
                          "game game game"
                          "btm-left btm-right btm-right";

 }

#top-left, #top-right, #btm-left, #btm-right {
    background: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-left {
    grid-area: top-left;
}

#top-right {
    grid-area: top-right;
}

main {
    grid-area: game;
    position: relative;
}

#btm-left {
    grid-area: btm-left;
}

#btm-right {
    grid-area: btm-right;
}

canvas#game {
    background: #2c2c2c;
    background-image: url('../img/rect_gray_0_old.png');
    background-repeat: repeat;
    position: absolute;
    top:0;
    left: 0;
    z-index: 0;
}

canvas#battle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
